@import "../components/wordlist/wordlist";
@import "../components/wordEntryForm/wordEntryForm";
@import "../components/accountTab/accountTab";
@import "../components/userLogin/userLogin";
@import "../components/createAccount/createAccount";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background: rgb(226, 226, 226);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
