.wordlist {
  padding: 1rem;
  background: rgb(195, 221, 245);
  box-shadow: 0 5px 10px grey;
  .word-item {
    height: fit-content;
    list-style: none;
    margin: 0.5rem 0;
    border: 1px solid rgb(202, 202, 202);
    background: white;
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    transition: all 0.2s ease;
    &:hover {
      border: 1px solid rgb(167, 167, 167);
      background: rgb(240, 240, 240);
    }
    .word-votes {
      height: 100%;
      margin: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      .vote-num {
        color: rgb(73, 73, 73);
      }
      .upvote {
        transform: rotateZ(-90deg);
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: rgb(20, 180, 20);
          background: rgb(236, 236, 236);
        }
      }
      .downvote {
        transform: rotateZ(90deg);
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: rgb(180, 20, 20);
          background: rgb(236, 236, 236);
        }
      }
      .voted-up {
        color: rgb(20, 180, 20) !important;
      }
      .voted-down {
        color: rgb(180, 20, 20) !important;
      }
    }
    a {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      padding: 0 1rem;
      .word-creator {
        text-align: right;
      }
    }
  }
}
