.words {
  border: 1px solid black;
  border-radius: 20px;
  margin: 2rem 5rem;
  padding: 1rem;
  background: rgb(195, 221, 245);
  .word-item {
    list-style: none;
    padding: 0.5rem 0.25rem;
    margin: 0.5rem 0;
    border: 1px solid grey;
    background: white;
    &:hover {
      background: rgb(216, 230, 243);
    }
  }
}
