.word-entry-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .word-entry-form {
    margin: 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    h1 {
      margin: 1rem auto;
      width: fit-content;
    }
    label {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 1rem;
    }
    input {
      padding: 0.5rem;
      font-size: 1.1rem;
      border: none;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgb(156, 156, 156);
      &:focus {
        outline: 1px solid rgb(115, 164, 255);
      }
    }
    button {
      margin: 0 1rem;
      padding: 1rem;
      border: none;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgb(156, 156, 156);
      background: rgb(226, 243, 255);
      transition: all 0.2s ease-in-out;
      &:hover {
        background: rgb(196, 227, 255);
      }
    }
    @media (max-width: 800px) {
      flex-direction: column;
      gap: .5rem;
    }
  }
  h4 {
    margin: 1rem auto;
    width: fit-content;
    color: red;
  }
}
